<a href="https://colab.research.google.com/github/hrbolek/learning/blob/master/itsystems/database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Databázové systémy

##  Úvod

Databázové systémy slouží k ukládání dat. 

Data lze podle charakteru rozdělit do dvou základních kategorií:
- Homogenní data
- Heterogenní data

Homogeními daty rozumíme data, která mají stejnou strukturu narozdíl od heterogenních dat, kde je struktura odlišná.

Homogenní data lze přirovnat k tabulce v Excelu, která má definovaný počet sloupců a těchnto sloupcích jsou uloženy hodnoty.

Pro homogenní data lze použít relační databáze. Nemáme-li homogenní data, je nutné provést jejich homogenizace, chcete-li nebo musíte-li použít relační databáze.

### Relační - SQL databázové systémy

MySQL (+MariaDb), MS SQL, PostgreSQL
Databáze se skládá z tabulek, tabulky repezentují homogenní data. Mezi tabulkami jsou definovány relace (foreign keys).

Pro DBs (RDBMS) je definován jazyk SQL, který můžeme chápat jako množinu příkazů pro správu databáze a pro práci s daty.

### NOSQL 
MongoDb, CouchDb jsou databáze, které pracují s dokumenty / datovými strukturami (např. JSON).

https://www.freelancinggig.com/blog/2018/04/19/couchdb-vs-mongodb-understanding-difference/

Speciálními případy jsou databáze typu Neo4j nebo Redis.

Přečíst povinně:

https://en.wikipedia.org/wiki/Graph_database

Přečíst volitelně:

https://neo4j.com/download-center/?ref=web-product-database/#community

https://redis.io/

## Pár úvah nad datovými toky
V případě velkých datových objemů není žádoucí a mnohdy ani možné zpracovávat datové celky. Pole (```list```, ```array``` apod.) je zpracováváno po prvcích.

In [0]:
# tento zpusob znate
data = [0, 1, 2, 3] # data
def oldFashioned(data, cislo): #funkce pracujici s polem hodnot a vracejici pole hodnot
  result = []
  for item in data:
    result.append(item + cislo)
  return result

prictenoOld = oldFashioned(data, 2)
print(data, '-->', prictenoOld)

[0, 1, 2, 3] --> [2, 3, 4, 5]

In [0]:
# tento zpusob jste se neucili (temer s jistotou)
def newWay(data, cislo):
  for item in data:
    yield item + cislo

prictenoNew = list(newWay(data, 2))
print(data, '-->', prictenoNew)

[0, 1, 2, 3] --> [2, 3, 4, 5]

### Detailní demonstrace

In [0]:
def oldA(data, hodnota):
  result = []
  for item in data:
    print('old krat', item, hodnota)
    result.append(item * hodnota)
  return result

def oldB(data, hodnota):
  result = []
  for item in data:
    print('old plus', item, hodnota)
    result.append(item + hodnota)
  return result

def newA(data, hodnota):
  for item in data:
    print('new krat', item, hodnota)
    yield item * hodnota

def newB(data, hodnota):
  for item in data:
    print('new plus', item, hodnota)
    yield (item + hodnota)

inData = [0, 1, 2]
outDataOld = oldB(oldA(inData, 2), 3)
outDataNew = newB(newA(inData, 2), 3)
print('=' * 30)
print('=', 'Vysledky')
print('=' * 30)
print('outDataOld', outDataOld)
print('outDataNew', outDataNew)
print('outDataNew', list(outDataNew))

old krat 0 2
old krat 1 2
old krat 2 2
old plus 0 3
old plus 2 3
old plus 4 3
==============================
= Vysledky
==============================
outDataOld [3, 5, 7]
outDataNew <generator object newB at 0x7f4b11d08518>
new krat 0 2
new plus 0 3
new krat 1 2
new plus 2 3
new krat 2 2
new plus 4 3
outDataNew [3, 5, 7]

### Proč ```list()```

In [0]:
prictenoWOList = (newWay(data, 2))
print(data, '-->', prictenoWOList)    
print('Spustime vypocet')
pricteno2List = list(newWay(data, 2))
print(data, '-->', pricteno2List)

[0, 1, 2, 3] --> <generator object newWay at 0x7f4b13a79200>
Spustime vypocet
[0, 1, 2, 3] --> [2, 3, 4, 5]

### Generators
funkce s výrazem ```yield``` jsou generátory. Používají se v mnoha programovacích jazycích, příkladem budiž Python, Javascript, C# a další. Výsledkem takové funkce není návratový hodnota ale generátor, což je objekt s definovanými vlastnosti a metodami. Jedna z jeho metod (typicky ```next```) jejímž opakovaným voláním lze získat hodnoty tvořící zpracovávanou sekvenci.

V příkladu je funkce ```list``` použita na převod generátoru na seznam. Teprve v tuto chvíli dojde k výpočtu. Pečlivě si prostudujte následující řádky kódu. 

Pozor na vyčerpané generátory. Iterovat přes generátor lze pouze jednou. Jakmile zpracujete blok dat, který dodal generátor a přejdete na další blok dat, je předchozí blok dat zapomenut.

In [0]:
def demo(data, cislo):
  for item in data:
    print('pricitam', item, '+', cislo, '=', item + cislo)
    yield item + cislo

generator = demo(data, 2)
print('generator:', data, '-->', generator)    
print('Teprve ted spustime vypocet')
vysledek = list(generator)
print('výsledek', data, '-->', vysledek)

generator: [0, 1, 2, 3] --> <generator object demo at 0x7f4b13a79410>
Teprve ted spustime vypocet
pricitam 0 + 2 = 2
pricitam 1 + 2 = 3
pricitam 2 + 2 = 4
pricitam 3 + 2 = 5
výsledek [0, 1, 2, 3] --> [2, 3, 4, 5]

### Generators II
Generátory jsou fakticky stavové automaty. S výhodou je lze používat při definování posloupnosti akcí nad datovým tokem. Jsou základem operačních systémů (UNIX).

Budiž funkce

$g_1(x)=x + 1$

$g_2(x)=x+2$

Obě funkce lze zobecnit pomocí funkce

$f(x, y)= x+ y$

neboť 

$g_1(x) = f(x, 1)$

$g_2(x)=f(x,2)$

Lze definovat funkcionál
$F$, pro který platí

$F(f, 2)=g_1$

$F(f, 2)=g_2$

Funkcionály jsou základem funkcionálního programování. Pro funkcionální programování je možné využít např. jazyka F#. Prvky funcionálního programování jsou ale dostupné (a mnohdy i využívané) v jazycích Python, Javascript, C#.

In [0]:
def f(x, y):
  return x + y

def F(f, x):
  def g(y):
    return f(x, y)
  return g

g1 = F(f, 1)
g2 = F(f, 2)

print('f(5, 10) =', f(5, 10))
print('g1(3) =', g1(3))
print('g2(3) =', g2(3))

f(5, 10) = 15
g1(3) = 4
g2(3) = 5

In [0]:
import pandas as pd
def displayData(data):
  df = pd.DataFrame(data)
  display(df)

### Příklad homogenních dat

In [0]:
dataStudents = [
  (1,'Monique Davis',400,'Literature','Monique@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
	(2,'Teri Gutierrez',800,'Programming','Teri@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (3,'Spencer Pautier',1000,'Programming','Spencer@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (4,'Louis Ramsey',1200,'Programming','Louis@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (5,'Alvin Greene',1200,'Programming','Alvin@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (6,'Sophie Freeman',1200,'Programming','Sophie@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (7,'Edgar Frank \"Ted\" \"Codd\"',2400,'Computer Science','Edgar@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56'),
  (8,'Donald D. Chamberlin',2400,'Computer Science','Donald@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56'),
  (9,'Raymond F. Boyce',2400,'Computer Science','Raymond@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56')]

In [0]:
dataContactInfo = [
  (1,'Monique.Davis@freeCodeCamp.org','555-555-5551',97111),
  (2,'Teri.Gutierrez@freeCodeCamp.org','555-555-5552',97112),
  (3,'Spencer.Pautier@freeCodeCamp.org','555-555-5553',97113),
  (4,'Louis.Ramsey@freeCodeCamp.org','555-555-5554',0),
  (5,'Alvin.Green@freeCodeCamp.org','555-555-5555',97115),
  (6,'Sophie.Freeman@freeCodeCamp.org','555-555-5556',97116),
  (7,'Maximo.Smith@freeCodeCamp.org','555-555-5557',97117),
  (8,'Michael.Roach@freeCodeCamp.ort','555-555-5558',97118)
]

In [0]:
def tuple2dictionary(names, item):
  result = {}
  for name, value in zip(names, item):
    result[name] = value
  return result

def tuple2dictionarySeq(names, sequence):
  for item in sequence:
    yield tuple2dictionary(names, item)

namesStudents = ['studentID', 'FullName', 'sat_score', 'programOfStudy', 'schoolEmailAdr', 'rcd_Created', 'rcd_Updated']
namesContacts = ['studentID', 'studentEmailAddr',  'student-phone-cell', 'student-US-zipcode']

namedStudents = tuple2dictionarySeq(namesStudents, dataStudents)
namedContacts = tuple2dictionarySeq(namesContacts, dataContactInfo)

displayData(dataSource())
displayData(tuple2dictionarySeq(names=names, sequence=dataSource()))

   0                         1  ...                    5                    6
0  1             Monique Davis  ...  2017-08-16 15:34:50  2017-09-02 19:33:56
1  2            Teri Gutierrez  ...  2017-08-16 15:34:50  2017-09-02 19:33:56
2  3           Spencer Pautier  ...  2017-08-16 15:34:50  2017-09-02 19:33:56
3  4              Louis Ramsey  ...  2017-08-16 15:34:50  2017-09-02 19:33:56
4  5              Alvin Greene  ...  2017-08-16 15:34:50  2017-09-02 19:33:56
5  6            Sophie Freeman  ...  2017-08-16 15:34:50  2017-09-02 19:33:56
6  7  Edgar Frank "Ted" "Codd"  ...  2017-08-16 15:35:33  2017-09-02 19:33:56
7  8      Donald D. Chamberlin  ...  2017-08-16 15:35:33  2017-09-02 19:33:56
8  9          Raymond F. Boyce  ...  2017-08-16 15:35:33  2017-09-02 19:33:56

[9 rows x 7 columns]

   studentID  ...          rcd_Updated
0          1  ...  2017-09-02 19:33:56
1          2  ...  2017-09-02 19:33:56
2          3  ...  2017-09-02 19:33:56
3          4  ...  2017-09-02 19:33:56
4          5  ...  2017-09-02 19:33:56
5          6  ...  2017-09-02 19:33:56
6          7  ...  2017-09-02 19:33:56
7          8  ...  2017-09-02 19:33:56
8          9  ...  2017-09-02 19:33:56

[9 rows x 7 columns]

## Relační algebra

Operátory 
- Sjednocení, 
- Průnik, 
- Rozdíl (podobnost s operacemi nad množinami není náhodná)
---
- Selekce, (SQL ```where```)
- Projekce, (SQL ```select```)
- Kartézký součin, (SQL ```join```)
- Přejmenování, (SQL ```as```)

### Selekce s použitím Pythonu

In [0]:
def createSelect(queryF):
  def selectF(generator):
    return filter(queryF, generator)
  return selectF

def createSelectEx(queryF): # stejne jako createSelect
  def selectF(generator):
    return (item for item in generator if queryF(item)) # viz https://docs.python.org/3/howto/functional.html
  return selectF

studentsWithHighScoreSelection = createSelect(lambda item: item['sat_score'] >= 1000)
namedStudents = tuple2dictionarySeq(namesStudents, dataStudents)

subsetResult = studentsWithHighScoreSelection(namedStudents)
displayData(subsetResult)

   studentID  ...          rcd_Updated
0          3  ...  2017-09-02 19:33:56
1          4  ...  2017-09-02 19:33:56
2          5  ...  2017-09-02 19:33:56
3          6  ...  2017-09-02 19:33:56
4          7  ...  2017-09-02 19:33:56
5          8  ...  2017-09-02 19:33:56
6          9  ...  2017-09-02 19:33:56

[7 rows x 7 columns]

### Projekce s využitím Pythonu

In [0]:
from functools import partial

def createProjection(mapF):
  def projectionF(generator):
    for item in generator:
      yield mapF(item)
  return projectionF


#========================================
# Toto muze byt srozumitelnejsi
def createProjectionAll(mapF, generator):
  for item in generator:
    yield mapF(item)

def createProjectionSpec(mapF):
  return partial(createProjectionAll, mapF)
#========================================


def createProjectionEx(mapF): #stejne jako createProjection
  def projectionF(generator):
    return (mapF(item) for item in generator) #viz https://docs.python.org/3/howto/functional.html / Generator expressions and list comprehensions
  return projectionF

def createProjection2(names):
  def projectionF(generator):
    for item in generator:
      result = {}
      for name in names:
        result[name] = item[name]
      yield result
  return projectionF

namedStudents = tuple2dictionarySeq(namesStudents, dataStudents)
someStudentsColumns = createProjection(lambda item: {'studentID': item['studentID'], 'FullName': item['FullName']})
someColumnsResult = someStudentsColumns(namedStudents)
displayData(someColumnsResult)

namedStudents = tuple2dictionarySeq(namesStudents, dataStudents)
someStudentsColumns2 = createProjection2(['studentID', 'FullName', 'programOfStudy'])
someColumnsResult2 = someStudentsColumns2(namedStudents)
displayData(someColumnsResult2)

   studentID                  FullName
0          1             Monique Davis
1          2            Teri Gutierrez
2          3           Spencer Pautier
3          4              Louis Ramsey
4          5              Alvin Greene
5          6            Sophie Freeman
6          7  Edgar Frank "Ted" "Codd"
7          8      Donald D. Chamberlin
8          9          Raymond F. Boyce

   studentID                  FullName    programOfStudy
0          1             Monique Davis        Literature
1          2            Teri Gutierrez       Programming
2          3           Spencer Pautier       Programming
3          4              Louis Ramsey       Programming
4          5              Alvin Greene       Programming
5          6            Sophie Freeman       Programming
6          7  Edgar Frank "Ted" "Codd"  Computer Science
7          8      Donald D. Chamberlin  Computer Science
8          9          Raymond F. Boyce  Computer Science

### Přejmenování s využitím Pythonu

In [0]:
def createRename(names):
  def renameF(generator):
    for item in generator:
      result = {**item}
      for old, new in names:
        del result[old]
        result[new] = item[old]
      yield result
  return renameF

namedStudents = tuple2dictionarySeq(namesStudents, dataStudents)
renamedColumnsStudents = createRename([('studentID', 'id'), ('FullName', 'name')])
renamedColumnsResults = renamedColumnsStudents(namedStudents)
displayData(renamedColumnsResults)

   sat_score    programOfStudy  ... id                      name
0        400        Literature  ...  1             Monique Davis
1        800       Programming  ...  2            Teri Gutierrez
2       1000       Programming  ...  3           Spencer Pautier
3       1200       Programming  ...  4              Louis Ramsey
4       1200       Programming  ...  5              Alvin Greene
5       1200       Programming  ...  6            Sophie Freeman
6       2400  Computer Science  ...  7  Edgar Frank "Ted" "Codd"
7       2400  Computer Science  ...  8      Donald D. Chamberlin
8       2400  Computer Science  ...  9          Raymond F. Boyce

[9 rows x 7 columns]

### Kartézský součin s využitím Pythonu

In [0]:
from itertools import product
#https://docs.python.org/3/library/itertools.html#itertools.product
def createCartesian(joinF):
  def cartesian(firstG, secondG):
    return map(lambda item: {**item[0], **item[1]}, filter(joinF, product(firstG, secondG)))
  return cartesian

def createCartesianEx(joinF): #stejne jako createCartesian
  def cartesian(firstG, secondG):
    result = ({**f, **g} for f in firstG for g in secondG if joinF((f, g)))
    return result
  return cartesian

def createCartesianReadable(joinF):# 'skoro' stejne jako createCartesian
  def cartesian(firstG, secondG):
    for f in firstG:
      for g in secondG:
        if (joinF((f, g))):
          yield {**f, **g}
  return cartesian

namedStudents = list(tuple2dictionarySeq(namesStudents, dataStudents))
namedContacts = list(tuple2dictionarySeq(namesContacts, dataContactInfo))

joinF = lambda item: item[0]['studentID'] == item[1]['studentID']
cartesian = createCartesianEx(joinF)

cartesianResult = cartesian(namedStudents, namedContacts)
displayData(cartesianResult)

   studentID                  FullName  ...  student-phone-cell student-US-zipcode
0          1             Monique Davis  ...        555-555-5551              97111
1          2            Teri Gutierrez  ...        555-555-5552              97112
2          3           Spencer Pautier  ...        555-555-5553              97113
3          4              Louis Ramsey  ...        555-555-5554                  0
4          5              Alvin Greene  ...        555-555-5555              97115
5          6            Sophie Freeman  ...        555-555-5556              97116
6          7  Edgar Frank "Ted" "Codd"  ...        555-555-5557              97117
7          8      Donald D. Chamberlin  ...        555-555-5558              97118

[8 rows x 10 columns]

 ## MySQL

 V prostředí MySQL (viz první stack) s pomocí phpMyAdmin spusťte následující SQL příkaz převzato [odtud](https://github.com/SteveChevalier/Distilling-Data/blob/master/schema_data_01_Student%20Schema%20and%20Data.sql)
```sql
-- ---------------------------------------------------
-- Part I - Create and Load Student Schema
-- ---------------------------------------------------
-- Create Schema (database) and set as default
CREATE DATABASE IF NOT EXISTS `student_examples`;
USE `student_examples`;

-- create student and student contact tables
DROP TABLE IF EXISTS `student`; 
CREATE TABLE `student` (
  `studentID` int(11) NOT NULL AUTO_INCREMENT,
  `FullName` text,
  `sat_score` int(11) DEFAULT NULL,
  `programOfStudy` text,
  `schoolEmailAdr` text,
  `rcd_Created` datetime DEFAULT CURRENT_TIMESTAMP,
  `rcd_Updated` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`studentID`));
  
DROP TABLE IF EXISTS `student-contact-info`;
CREATE TABLE `student-contact-info` (
  `studentID` int(11) DEFAULT NULL,
  `studentEmailAddr` text,
  `student-phone-cell` text,
  `student-US-zipcode` int(11) DEFAULT NULL);

-- Load data
INSERT INTO `student` 
	VALUES (1,'Monique Davis',400,'Literature','Monique@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
		(2,'Teri Gutierrez',800,'Programming','Teri@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
        (3,'Spencer Pautier',1000,'Programming','Spencer@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
        (4,'Louis Ramsey',1200,'Programming','Louis@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
        (5,'Alvin Greene',1200,'Programming','Alvin@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
        (6,'Sophie Freeman',1200,'Programming','Sophie@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
        (7,'Edgar Frank \"Ted\"\" Codd\"',2400,'Computer Science','Edgar@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56'),
        (8,'Donald D. Chamberlin',2400,'Computer Science','Donald@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56'),
        (9,'Raymond F. Boyce',2400,'Computer Science','Raymond@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56');

INSERT INTO `student-contact-info` 
	VALUES (1,'Monique.Davis@freeCodeCamp.org','555-555-5551',97111),
    (2,'Teri.Gutierrez@freeCodeCamp.org','555-555-5552',97112),
    (3,'Spencer.Pautier@freeCodeCamp.org','555-555-5553',97113),
    (4,'Louis.Ramsey@freeCodeCamp.org','555-555-5554',0),
    (5,'Alvin.Green@freeCodeCamp.org','555-555-5555',97115),
    (6,'Sophie.Freeman@freeCodeCamp.org','555-555-5556',97116),
    (7,'Maximo.Smith@freeCodeCamp.org','555-555-5557',97117),
    (8,'Michael.Roach@freeCodeCamp.ort','555-555-5558',97118);


-- end Part I schema create and data import
```

### Selekce s využitím SQL
```sql
select * from `student` where `student`.`sat_score` >= 1000
```

### Projekce s využitím SQL
```sql
select `studentID`, `FullName` from `student`
```

### Přejmenování s využitím SQL
```sql
select `student`.`sat_score`, `student`.`programOfStudy`,
  `student`.`schoolEmailAdr`, `student`.`rcd_Created`, 
  `student`.`rcd_Updated`, `student`.`studentID` as `id`,
  `student`.`FullName` as `name` from `student`
```

### Kartézský součin s využitím SQL
```sql

```

## LINQ
LINQ je jazyk integrovaný do .NET. Umožňuje použít Relační algebru nad zdroji v rámci programovacího jazyka.

C#:

https://docs.microsoft.com/cs-cz/dotnet/csharp/programming-guide/concepts/linq/

Visual Basic:

https://docs.microsoft.com/cs-cz/dotnet/visual-basic/programming-guide/language-features/linq/introduction-to-linq

Velmi často se používá v .net core pro přístup k databázi.

## Normální formy

https://www.youtube.com/watch?v=7B9FnIIIsQc

### 1. NF

### 2. NF

### 3. NF

https://www.youtube.com/watch?v=xoTyrdT9SZI

## Doplňkové studijní zdroje

https://www.freecodecamp.org/news/best-sql-database-tutorial/

https://www.freecodecamp.org/news/sql-foreign-key-vs-primary-key-explained-with-mysql-syntax-examples/

https://cs.wikipedia.org/wiki/Rela%C4%8Dn%C3%AD_algebra

https://www.w3schools.com/sql/

https://web.archive.org/web/20110124214346/http://www.dcs.fmph.uniba.sk/~plachetk/TEACHING/DB2009/db2009_4.pdf