#

## Device

In [20]:
import torch
device = (
    "mps"
    if getattr(torch, "has_mps", False)
    else "cuda"
    if torch.cuda.is_available()
    else "cpu"
)
print(f"Using device: {device}")

Using device: cpu

https://github.com/jeffheaton/app_deep_learning/blob/main/t81_558_class_04_1_kfold.ipynb

https://scikit-learn.org/stable/modules/cross_validation.html#

In [1]:
import numpy as np
from sklearn.model_selection import KFold

X = ["a", "b", "c", "d"]
kf = KFold(n_splits=2)
for train, test in kf.split(X):
    print("%s %s" % (train, test))

[2 3] [0 1]
[0 1] [2 3]

## EarlyStopping

In [22]:
# Early stopping (see module 3.4)
class EarlyStopping:
    def __init__(self, patience=5, min_delta=0, restore_best_weights=True):
        self.patience = patience
        self.min_delta = min_delta
        self.restore_best_weights = restore_best_weights
        self.best_model = None
        self.best_loss = None
        self.counter = 0
        self.status = ""

    def __call__(self, model, val_loss):
        if self.best_loss is None:
            self.best_loss = val_loss
            self.best_model = copy.deepcopy(model.state_dict())
        elif self.best_loss - val_loss >= self.min_delta:
            self.best_model = copy.deepcopy(model.state_dict())
            self.best_loss = val_loss
            self.counter = 0
            self.status = f"Improvement found, counter reset to {self.counter}"
        else:
            self.counter += 1
            self.status = f"No improvement in the last {self.counter} epochs"
            if self.counter >= self.patience:
                self.status = f"Early stopping triggered after {self.counter} epochs."
                if self.restore_best_weights:
                    model.load_state_dict(self.best_model)
                return True
        return False

## K-Fold

K-Fold je metoda rozdělení a následné použití trénovacích dat. 
K-Fold rozděluje data do k skupin. Pro každou skupinu je vytvořen model, který je na této skupině trénován.
Zbylé skupiny jsou pro daný model použity jako testovací množina.
Jedná se o křížovou validaci (cross-validation).
Získané modely lze navzájem porovnat a vybrat (sub)optimální model.

K-Fold je pojem, který pokrývá celou řadu variant. Tyto varianty dělíme do dvou základních skupin:
- exhaustive
- non-exhaustive

tedy vyčerpávající / nevyčerpávající. V případě exhaustive se použijí všechny kombinace dělení vstupní datové sady, v případě non-exhaustive jsou některé kombinace vynechány.

Při dělení datové sady se mluví o podmnožinách datové sady (množiny). 
Tyto podmnožiny se někdy také nazývají pozorování (observations).
Lze vytvářet různá uskupení těchto podmožin, ve smyslu jejich vyčlenění jako prvku trénovací či testovací sady.
Výše popsaný, základní princip metody je metodou, kdy pro testování je použito jedno pozorování (jedna podmnožina) a pro trénování zbylá pozorování.

Lze se setkat s variantami K-Fold, kdy pro testování je použito více podmožin (pozorování - observations).

Leave-one-out cross-validation (LOOCV) je nejpoužívanější a jedná se o metodu popsanou v úvodu.

## Iris dataset

In [2]:
import numpy as np
from sklearn import datasets

X, y = datasets.load_iris(return_X_y=True)
X.shape, y.shape

((150, 4), (150,))

V kódu níže je použit modul `svm` (https://scikit-learn.org/stable/modules/svm.html).
Tento modul podporuje tvorbu klasifikátorů.

In [3]:
from sklearn.model_selection import train_test_split
from sklearn import svm

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=0)

clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

0.9666666666666667

In [4]:
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernel='linear', C=1, random_state=42)
scores = cross_val_score(clf, X, y, cv=5)
scores

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

## Unknown Dataset

In [5]:
serverpath = "https://needtoknow.cz"
document = "/~profesor/data/jh-simple-dataset.csv"

In [6]:
import getpass
server = getpass.getpass()
serverpath = f"https://{server}.cz"

 ········

In [7]:
fullurl = serverpath + document

In [17]:
import pandas as pd

df = pd.read_csv(fullurl, na_values=["NA", "?"])
display(df)

,id,job,area,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,retail_dense,crime,product
0,1,vv,c,50876.0,13.100000,1,9.017895,35,11.738935,49,0.885827,0.492126,0.071100,b
1,2,kd,c,60369.0,18.625000,2,7.766643,59,6.805396,51,0.874016,0.342520,0.400809,c
2,3,pe,c,55126.0,34.766667,1,3.632069,6,13.671772,44,0.944882,0.724409,0.207723,b
3,4,11,c,51690.0,15.808333,1,5.372942,16,4.333286,50,0.889764,0.444882,0.361216,b
4,5,kl,d,28347.0,40.941667,3,3.822477,20,5.967121,38,0.744094,0.661417,0.068033,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,vv,c,51017.0,38.233333,1,5.454545,34,14.013489,41,0.881890,0.744094,0.104838,b
1996,1997,kl,d,26576.0,33.358333,2,3.632069,20,8.380497,38,0.944882,0.877953,0.063851,a
1997,1998,kl,d,28595.0,39.425000,3,7.168218,99,4.626950,36,0.759843,0.744094,0.098703,f
1998,1999,qp,c,67949.0,5.733333,0,8.936292,26,3.281439,46,0.909449,0.598425,0.117803,c
1999,2000,pe,c,61467.0,16.891667,0,4.312097,8,9.405648,48,0.925197,0.539370,0.451973,c

In [14]:
# Cross-Validate
kf = KFold(n_splits=5, shuffle=True, random_state=42)
kf

splitted = kf.split(df["product"])
for i in splitted:
    print(i)

(array([   0,    1,    2, ..., 1997, 1998, 1999]), array([  23,   29,   30,   32,   44,   45,   49,   56,   59,   63,   65,
         67,   69,   70,   73,   76,   78,   99,  100,  109,  111,  115,
        120,  123,  124,  128,  135,  162,  163,  168,  173,  175,  185,
        188,  194,  196,  203,  210,  211,  212,  218,  220,  231,  233,
        237,  239,  247,  251,  254,  256,  261,  266,  270,  275,  281,
        289,  297,  298,  300,  303,  305,  306,  307,  316,  322,  324,
        331,  342,  344,  350,  351,  352,  353,  354,  361,  366,  367,
        368,  374,  382,  383,  393,  394,  411,  414,  416,  422,  427,
        429,  432,  433,  438,  450,  453,  462,  464,  471,  478,  479,
        480,  482,  485,  494,  495,  507,  514,  519,  526,  527,  529,
        530,  534,  535,  538,  543,  544,  552,  554,  555,  570,  572,
        579,  581,  582,  583,  584,  585,  591,  599,  602,  607,  610,
        611,  613,  617,  618,  620,  628,  630,  637,  651,  654,  670,
        674,  678,  679,  693,  701,  712,  720,  730,  743,  744,  746,
        755,  757,  759,  764,  771,  780,  782,  785,  787,  788,  792,
        802,  807,  808,  824,  829,  832,  834,  855,  857,  862,  874,
        879,  886,  887,  888,  889,  905,  906,  907,  909,  916,  930,
        937,  938,  944,  949,  964,  965,  973,  974,  978,  987,  990,
        993, 1004, 1027, 1033, 1036, 1041, 1053, 1054, 1063, 1075, 1078,
       1080, 1083, 1084, 1089, 1091, 1100, 1103, 1105, 1107, 1116, 1118,
       1120, 1134, 1137, 1164, 1173, 1178, 1179, 1182, 1185, 1190, 1193,
       1196, 1198, 1223, 1225, 1229, 1233, 1242, 1244, 1245, 1259, 1265,
       1273, 1274, 1278, 1284, 1289, 1290, 1292, 1301, 1310, 1313, 1319,
       1323, 1324, 1333, 1335, 1345, 1350, 1364, 1370, 1378, 1381, 1384,
       1394, 1395, 1412, 1414, 1419, 1423, 1425, 1431, 1433, 1440, 1449,
       1450, 1453, 1460, 1464, 1465, 1472, 1473, 1474, 1483, 1487, 1491,
       1497, 1502, 1510, 1512, 1518, 1530, 1532, 1537, 1541, 1543, 1544,
       1546, 1550, 1551, 1555, 1556, 1562, 1563, 1566, 1567, 1568, 1573,
       1592, 1593, 1600, 1605, 1608, 1609, 1610, 1612, 1615, 1618, 1621,
       1623, 1624, 1640, 1646, 1647, 1652, 1654, 1658, 1659, 1664, 1666,
       1673, 1674, 1675, 1686, 1691, 1696, 1697, 1699, 1710, 1713, 1719,
       1728, 1729, 1731, 1736, 1737, 1739, 1741, 1745, 1754, 1756, 1766,
       1767, 1782, 1784, 1789, 1794, 1798, 1803, 1810, 1813, 1814, 1818,
       1819, 1825, 1831, 1833, 1838, 1847, 1852, 1860, 1872, 1873, 1884,
       1893, 1897, 1903, 1905, 1911, 1912, 1916, 1919, 1922, 1924, 1927,
       1930, 1931, 1932, 1934, 1937, 1938, 1950, 1959, 1962, 1965, 1966,
       1978, 1981, 1987, 1990]))
(array([   0,    1,    3, ..., 1996, 1997, 1999]), array([   2,    6,   15,   18,   31,   43,   48,   51,   54,   58,   71,
         72,   81,   83,   84,   86,  101,  107,  113,  118,  141,  147,
        148,  155,  170,  174,  177,  179,  181,  182,  184,  192,  198,
        199,  208,  214,  221,  226,  236,  240,  243,  244,  250,  259,
        265,  271,  272,  273,  274,  277,  285,  286,  287,  292,  296,
        308,  309,  310,  311,  312,  326,  327,  329,  332,  334,  339,
        341,  346,  358,  360,  363,  365,  370,  371,  376,  377,  380,
        381,  398,  405,  408,  413,  415,  420,  423,  425,  426,  428,
        430,  435,  436,  439,  442,  445,  451,  457,  461,  465,  468,
        481,  483,  486,  490,  493,  497,  500,  505,  506,  513,  518,
        522,  528,  532,  548,  551,  557,  560,  561,  566,  567,  575,
        576,  588,  589,  590,  593,  596,  598,  601,  609,  614,  619,
        621,  629,  631,  643,  650,  660,  669,  677,  680,  692,  694,
        700,  704,  705,  706,  707,  710,  715,  721,  722,  727,  733,
        736,  741,  745,  752,  756,  765,  767,  772,  774,  777,  781,
        806,  809,  813,  817,  818,  819,  836,  845,  849,  873,  881,
        900,  903,  904,  914,  915,  922,  925,  926,  931,  932,  936,
        939,  940,  941,  942,  948,  950,  952,  962,  966,  968,  979,
        982,  985,  986,  994,  998,  999, 1006, 1010, 1013, 1018, 1022,
       1029, 1034, 1037, 1040, 1047, 1050, 1052, 1055, 1057, 1067, 1068,
       1073, 1085, 1087, 1096, 1106, 1110, 1111, 1112, 1121, 1124, 1131,
       1132, 1146, 1151, 1160, 1161, 1165, 1176, 1189, 1192, 1200, 1202,
       1204, 1206, 1216, 1220, 1221, 1228, 1230, 1231, 1235, 1237, 1239,
       1240, 1249, 1251, 1258, 1271, 1272, 1281, 1283, 1293, 1302, 1307,
       1309, 1314, 1316, 1318, 1320, 1322, 1326, 1328, 1330, 1334, 1336,
       1343, 1347, 1356, 1357, 1359, 1360, 1362, 1368, 1379, 1383, 1385,
       1386, 1387, 1389, 1391, 1402, 1405, 1407, 1421, 1422, 1432, 1435,
       1441, 1442, 1454, 1455, 1456, 1458, 1461, 1471, 1475, 1476, 1480,
       1481, 1493, 1501, 1509, 1511, 1536, 1538, 1549, 1553, 1554, 1558,
       1559, 1560, 1564, 1565, 1572, 1578, 1583, 1587, 1594, 1599, 1604,
       1607, 1614, 1617, 1619, 1622, 1628, 1629, 1630, 1635, 1637, 1649,
       1650, 1651, 1669, 1676, 1677, 1679, 1688, 1701, 1721, 1726, 1738,
       1743, 1755, 1761, 1764, 1769, 1771, 1785, 1788, 1800, 1812, 1816,
       1821, 1828, 1829, 1832, 1840, 1846, 1857, 1859, 1861, 1866, 1867,
       1869, 1874, 1876, 1883, 1898, 1909, 1923, 1935, 1939, 1940, 1943,
       1947, 1956, 1957, 1960, 1961, 1972, 1976, 1977, 1979, 1980, 1985,
       1989, 1992, 1993, 1998]))
(array([   1,    2,    4, ..., 1997, 1998, 1999]), array([   0,    3,    5,    7,   10,   12,   24,   25,   27,   33,   39,
         41,   42,   47,   52,   55,   60,   66,   68,   74,   77,   80,
         82,   85,   88,   92,   94,   96,   97,  102,  104,  105,  106,
        110,  117,  125,  126,  129,  131,  132,  136,  137,  138,  139,
        140,  142,  144,  156,  158,  164,  165,  167,  171,  178,  183,
        193,  195,  204,  209,  213,  215,  222,  224,  227,  228,  232,
        235,  238,  242,  248,  249,  258,  260,  267,  280,  282,  290,
        291,  294,  299,  302,  314,  318,  319,  321,  323,  325,  328,
        333,  336,  348,  349,  355,  359,  362,  364,  375,  388,  390,
        404,  409,  410,  419,  421,  424,  434,  440,  446,  447,  448,
        458,  467,  477,  503,  516,  523,  525,  531,  533,  536,  541,
        542,  545,  547,  549,  553,  558,  571,  573,  578,  594,  597,
        603,  605,  615,  622,  624,  626,  634,  636,  638,  644,  649,
        661,  664,  665,  666,  668,  672,  673,  676,  682,  688,  691,
        695,  711,  714,  716,  718,  723,  724,  737,  754,  762,  770,
        778,  786,  793,  796,  798,  799,  803,  810,  811,  812,  816,
        820,  826,  838,  839,  841,  842,  843,  844,  846,  847,  858,
        859,  861,  864,  865,  867,  869,  892,  893,  898,  899,  901,
        910,  917,  918,  921,  923,  943,  946,  963,  976,  983,  984,
        988,  989,  997, 1000, 1001, 1005, 1007, 1009, 1023, 1026, 1030,
       1043, 1046, 1049, 1058, 1061, 1074, 1079, 1090, 1094, 1101, 1102,
       1108, 1113, 1114, 1117, 1125, 1128, 1133, 1138, 1144, 1157, 1159,
       1163, 1169, 1170, 1175, 1177, 1181, 1187, 1208, 1210, 1211, 1222,
       1226, 1234, 1247, 1255, 1261, 1262, 1263, 1268, 1280, 1286, 1287,
       1288, 1298, 1299, 1303, 1304, 1305, 1315, 1317, 1329, 1331, 1338,
       1339, 1340, 1341, 1342, 1344, 1355, 1358, 1361, 1366, 1374, 1375,
       1393, 1403, 1406, 1417, 1418, 1427, 1428, 1429, 1436, 1448, 1452,
       1457, 1463, 1466, 1468, 1477, 1488, 1492, 1498, 1503, 1505, 1506,
       1507, 1514, 1516, 1517, 1521, 1526, 1540, 1547, 1548, 1574, 1576,
       1580, 1582, 1586, 1588, 1591, 1606, 1611, 1616, 1620, 1641, 1644,
       1645, 1653, 1660, 1667, 1668, 1670, 1671, 1680, 1689, 1694, 1706,
       1711, 1716, 1717, 1727, 1730, 1732, 1734, 1740, 1747, 1760, 1763,
       1765, 1775, 1780, 1783, 1786, 1791, 1793, 1797, 1799, 1801, 1802,
       1804, 1805, 1809, 1815, 1817, 1824, 1834, 1837, 1844, 1850, 1854,
       1855, 1856, 1858, 1864, 1865, 1868, 1871, 1896, 1902, 1913, 1920,
       1926, 1929, 1933, 1941, 1944, 1945, 1946, 1954, 1963, 1969, 1973,
       1974, 1986, 1994, 1995]))
(array([   0,    1,    2, ..., 1995, 1996, 1998]), array([   4,    9,   11,   16,   17,   19,   22,   28,   35,   36,   38,
         46,   50,   57,   61,   62,   75,   79,   89,   90,   93,  108,
        114,  116,  119,  127,  133,  145,  149,  153,  154,  157,  159,
        169,  172,  176,  180,  190,  191,  217,  223,  234,  245,  255,
        257,  263,  264,  268,  278,  284,  301,  304,  313,  320,  335,
        338,  340,  347,  356,  357,  369,  372,  373,  386,  389,  395,
        396,  399,  407,  412,  417,  431,  443,  444,  449,  454,  456,
        460,  470,  473,  475,  476,  487,  489,  491,  496,  498,  499,
        501,  504,  511,  512,  515,  517,  521,  537,  539,  546,  559,
        568,  569,  574,  580,  587,  595,  604,  606,  616,  625,  633,
        635,  652,  653,  655,  656,  657,  658,  662,  667,  671,  675,
        684,  685,  689,  690,  696,  697,  703,  708,  713,  717,  726,
        728,  731,  732,  734,  735,  738,  739,  740,  750,  753,  758,
        760,  761,  768,  773,  783,  784,  789,  790,  801,  814,  822,
        823,  825,  827,  828,  830,  833,  837,  848,  850,  851,  852,
        853,  866,  868,  872,  875,  876,  882,  884,  885,  890,  894,
        895,  902,  908,  911,  912,  919,  920,  924,  927,  933,  934,
        935,  945,  947,  953,  958,  959,  961,  967,  969,  970,  971,
        977,  980,  991,  992,  996, 1002, 1003, 1008, 1011, 1015, 1019,
       1024, 1031, 1032, 1035, 1039, 1042, 1048, 1062, 1065, 1066, 1069,
       1070, 1072, 1077, 1081, 1088, 1092, 1093, 1097, 1098, 1099, 1115,
       1119, 1127, 1139, 1140, 1141, 1142, 1145, 1148, 1149, 1150, 1155,
       1156, 1166, 1167, 1168, 1172, 1174, 1188, 1191, 1195, 1197, 1199,
       1201, 1203, 1205, 1209, 1212, 1213, 1214, 1217, 1219, 1227, 1232,
       1236, 1243, 1246, 1252, 1253, 1260, 1269, 1270, 1276, 1277, 1279,
       1285, 1295, 1296, 1308, 1311, 1312, 1325, 1346, 1348, 1351, 1352,
       1353, 1365, 1373, 1376, 1377, 1380, 1392, 1399, 1401, 1404, 1416,
       1420, 1424, 1444, 1446, 1447, 1467, 1469, 1470, 1486, 1489, 1490,
       1494, 1504, 1519, 1523, 1524, 1525, 1531, 1535, 1539, 1542, 1545,
       1552, 1557, 1561, 1569, 1571, 1575, 1581, 1596, 1601, 1602, 1613,
       1625, 1627, 1632, 1639, 1642, 1656, 1657, 1662, 1665, 1672, 1682,
       1684, 1690, 1693, 1703, 1708, 1709, 1718, 1720, 1723, 1735, 1742,
       1744, 1746, 1749, 1752, 1759, 1774, 1777, 1778, 1781, 1787, 1790,
       1807, 1820, 1826, 1827, 1830, 1849, 1853, 1875, 1878, 1879, 1881,
       1887, 1889, 1892, 1904, 1907, 1908, 1910, 1914, 1917, 1918, 1921,
       1936, 1949, 1953, 1955, 1958, 1964, 1968, 1971, 1975, 1983, 1984,
       1988, 1991, 1997, 1999]))
(array([   0,    2,    3, ..., 1997, 1998, 1999]), array([   1,    8,   13,   14,   20,   21,   26,   34,   37,   40,   53,
         64,   87,   91,   95,   98,  103,  112,  121,  122,  130,  134,
        143,  146,  150,  151,  152,  160,  161,  166,  186,  187,  189,
        197,  200,  201,  202,  205,  206,  207,  216,  219,  225,  229,
        230,  241,  246,  252,  253,  262,  269,  276,  279,  283,  288,
        293,  295,  315,  317,  330,  337,  343,  345,  378,  379,  384,
        385,  387,  391,  392,  397,  400,  401,  402,  403,  406,  418,
        437,  441,  452,  455,  459,  463,  466,  469,  472,  474,  484,
        488,  492,  502,  508,  509,  510,  520,  524,  540,  550,  556,
        562,  563,  564,  565,  577,  586,  592,  600,  608,  612,  623,
        627,  632,  639,  640,  641,  642,  645,  646,  647,  648,  659,
        663,  681,  683,  686,  687,  698,  699,  702,  709,  719,  725,
        729,  742,  747,  748,  749,  751,  763,  766,  769,  775,  776,
        779,  791,  794,  795,  797,  800,  804,  805,  815,  821,  831,
        835,  840,  854,  856,  860,  863,  870,  871,  877,  878,  880,
        883,  891,  896,  897,  913,  928,  929,  951,  954,  955,  956,
        957,  960,  972,  975,  981,  995, 1012, 1014, 1016, 1017, 1020,
       1021, 1025, 1028, 1038, 1044, 1045, 1051, 1056, 1059, 1060, 1064,
       1071, 1076, 1082, 1086, 1095, 1104, 1109, 1122, 1123, 1126, 1129,
       1130, 1135, 1136, 1143, 1147, 1152, 1153, 1154, 1158, 1162, 1171,
       1180, 1183, 1184, 1186, 1194, 1207, 1215, 1218, 1224, 1238, 1241,
       1248, 1250, 1254, 1256, 1257, 1264, 1266, 1267, 1275, 1282, 1291,
       1294, 1297, 1300, 1306, 1321, 1327, 1332, 1337, 1349, 1354, 1363,
       1367, 1369, 1371, 1372, 1382, 1388, 1390, 1396, 1397, 1398, 1400,
       1408, 1409, 1410, 1411, 1413, 1415, 1426, 1430, 1434, 1437, 1438,
       1439, 1443, 1445, 1451, 1459, 1462, 1478, 1479, 1482, 1484, 1485,
       1495, 1496, 1499, 1500, 1508, 1513, 1515, 1520, 1522, 1527, 1528,
       1529, 1533, 1534, 1570, 1577, 1579, 1584, 1585, 1589, 1590, 1595,
       1597, 1598, 1603, 1626, 1631, 1633, 1634, 1636, 1638, 1643, 1648,
       1655, 1661, 1663, 1678, 1681, 1683, 1685, 1687, 1692, 1695, 1698,
       1700, 1702, 1704, 1705, 1707, 1712, 1714, 1715, 1722, 1724, 1725,
       1733, 1748, 1750, 1751, 1753, 1757, 1758, 1762, 1768, 1770, 1772,
       1773, 1776, 1779, 1792, 1795, 1796, 1806, 1808, 1811, 1822, 1823,
       1835, 1836, 1839, 1841, 1842, 1843, 1845, 1848, 1851, 1862, 1863,
       1870, 1877, 1880, 1882, 1885, 1886, 1888, 1890, 1891, 1894, 1895,
       1899, 1900, 1901, 1906, 1915, 1925, 1928, 1942, 1948, 1951, 1952,
       1967, 1970, 1982, 1996]))

## D

In [18]:
from scipy.stats import zscore

# Generate dummies for job
df = pd.concat([df,pd.get_dummies(df['job'],prefix="job",dtype=int)],axis=1)
df.drop('job', axis=1, inplace=True)

# Generate dummies for area
df = pd.concat([df,pd.get_dummies(df['area'],prefix="area",dtype=int)],axis=1)
df.drop('area', axis=1, inplace=True)

# Generate dummies for product
df = pd.concat([df,pd.get_dummies(df['product'],prefix="product",dtype=int)],axis=1)
df.drop('product', axis=1, inplace=True)

# Missing values for income
med = df['income'].median()
df['income'] = df['income'].fillna(med)

# Standardize ranges
df['income'] = zscore(df['income'])
df['aspect'] = zscore(df['aspect'])
df['save_rate'] = zscore(df['save_rate'])
df['subscriptions'] = zscore(df['subscriptions'])

In [24]:
import copy
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

# Convert to PyTorch Tensors
x_columns = df.columns.drop(['age', 'id'])
x = torch.tensor(df[x_columns].values, dtype=torch.float32, device=device)
y = torch.tensor(df['age'].values, dtype=torch.float32, device=device).view(-1, 1)

# Set random seed for reproducibility
torch.manual_seed(42)

# Cross-Validate
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Early stopping parameters
patience = 10

fold = 0
for train_idx, test_idx in kf.split(x):
    fold += 1
    print(f"Fold #{fold}")

    x_train, x_test = x[train_idx], x[test_idx]
    y_train, y_test = y[train_idx], y[test_idx]

    # PyTorch DataLoader
    train_dataset = TensorDataset(x_train, y_train)
    train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)

    # Create the model and optimizer
    model = nn.Sequential(
        nn.Linear(x.shape[1], 20),
        nn.ReLU(),
        nn.Linear(20, 10),
        nn.ReLU(),
        nn.Linear(10, 1)
    )
    model = torch.compile(model,backend="aot_eager").to(device)


    optimizer = optim.Adam(model.parameters(), lr=0.001)
    loss_fn = nn.MSELoss()

    # Early Stopping variables
    best_loss = float('inf')
    early_stopping_counter = 0

    # Training loop
    EPOCHS = 500
    epoch = 0
    done = False
    es = EarlyStopping()

    while not done and epoch<EPOCHS:
        epoch += 1
        model.train()
        for x_batch, y_batch in train_loader:
            optimizer.zero_grad()
            output = model(x_batch)
            loss = loss_fn(output, y_batch)
            loss.backward()
            optimizer.step()

        # Validation
        model.eval()
        with torch.no_grad():
            val_output = model(x_test)
            val_loss = loss_fn(val_output, y_test)

        if es(model, val_loss):
            done = True

    print(f"Epoch {epoch}/{EPOCHS}, Validation Loss: "
      f"{val_loss.item()}, {es.status}")

# Final evaluation
model.eval()
with torch.no_grad():
    oos_pred = model(x_test)
score = torch.sqrt(loss_fn(oos_pred, y_test)).item()
print(f"Fold score (RMSE): {score}")

Fold #1
Epoch 157/500, Validation Loss: 0.7110837697982788, Early stopping triggered after 5 epochs.
Fold #2
Epoch 149/500, Validation Loss: 0.4980891942977905, Early stopping triggered after 5 epochs.
Fold #3
Epoch 151/500, Validation Loss: 0.7317754626274109, Early stopping triggered after 5 epochs.
Fold #4
Epoch 191/500, Validation Loss: 0.42949116230010986, Early stopping triggered after 5 epochs.
Fold #5
Epoch 139/500, Validation Loss: 1.2475146055221558, Early stopping triggered after 5 epochs.
Fold score (RMSE): 1.1104768514633179

**Příklad**

> Natrénujte neuronové sítě pro predikci hodnot a2 a a14. Jako nezávislé proměnné použijte 's3','a8','a9','a10','a11','a12','a13','a15'.
>
> Použijte https://archive.ics.uci.edu/dataset/27/credit+approval